$mainColor: #333333 !default;
$subColor: #FFFFFF !default;
$accentColor: #46517D;
$accentColor2: #BB9992;
$accentColor3: #CED0D4;
$accentColor4: #EFEFEF;
$accentColor5: #6EC1FF;
$accentColor6: #C7C7C7;
$accentColor8: #676767;
$accentColor9: #ffead6;