@use '../global' as g;

.section-container {
  padding-top: 80px;

  .section-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .section-title {
      font-size: g.rem(24);
      line-height: 1.2;
      font-weight: bold;
    }
  }
}

/* お問い合わせ、ご注文のチェックボックススタイル */
.consent-chk {
  width: 15px;
  height: 15px;
  appearance: auto;
}