@use '../global' as g;

.header-container {
  padding: 8px 8px;

  @include g.mq(md) {
    margin-left: auto;
    margin-right: auto;
    padding: 8px 8px;
  }
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include g.mq(md) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 8px;

  @include g.mq(md) {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

.header-logo-image {
  width: 24px;
  height: 24px;

  @include g.mq(md) {
    width: 100%;
    height: 100%;
    max-width: 60px;
    max-height: 60%;
  }
}

.head-logo-title {
  font-size: g.rem(14);
  line-height: 1.2;
  color: #11b2d7;

  @include g.mq(md) {
    font-size: g.rem(16);
  }
}

/* ハンバーガーメニューが閉じているとき */
.header-nav {
  display: block;
  position: fixed;
  top: 0;
  right: -400px;
  bottom: 0;
  z-index: 3;
  transition: right 0.5s;
  font-size: g.rem(16);
  text-align: center;
  background-color: rgb(255, 255, 255);

  @include g.mq(md) {
    margin-left: auto;
    text-align: right;
    position: static;
    width: auto;
    height: auto;
    transform: translateX(0);
    display: block;
    background-color: transparent;
    transition: none;
  }
}

.header-nav__list {
  @include g.mq(md) {
    display: flex;
    gap: 6px;
  }
}

.header-nav__item {
  font-size: g.rem(14);
  display: flex; // アイコンとテキストを横並びに
  align-items: center; // 縦方向の中央揃え
  position: relative; // 疑似要素の基準位置を設定
  padding: 0 8px; // アイテムの左右に余白を追加

  @include g.mq(md) {
    font-size: g.rem(16);

    &::after {
      content: ''; // 疑似要素を作成
      position: absolute;
      top: 50%; // 垂直方向の中央に配置
      right: 0; // アイテムの右端に配置
      transform: translateY(-50%); // 中央揃え
      width: 1px; // 線の幅
      height: 60%; // 線の高さ
      background-color: rgba(0, 0, 0, 0.2); // 線の色（薄いグレー）
    }
  
    &:last-child::after {
      display: none; // 最後のアイテムには線を表示しない
    }
  }

  .header-nav__item-cart {
    font-size: 24px;
  }
}

.header-nav__item-cart {
  border: 1px solid rgba(0, 0, 0, 0.5); // 薄い枠線を追加
  background-color: rgba(66, 212, 245, 0.3); // 薄い背景色を設定
  border-radius: 12px; // 角を丸くする
  padding: 2px 4px; // 内側の余白を追加

  .header-nav__icon {
    width: 24px;
    height: 18px;
    object-fit: contain; // アスペクト比を維持

    @include g.mq(md) {
      width: 24px;
      height: 18px;
      object-fit: contain; // アスペクト比を維持
    }
  }
}


/* ハンバーガーメニューが開いているとき */
.open .header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
  opacity: 1;
}

.open .header-nav {
  right: 0;
  padding: 50px 25px;

  @include g.mq(md) {
    position: static;
    width: auto;
    height: auto;
    transform: translateX(0);
    display: block;
    background-color: transparent;
    font-size: g.rem(16);
    transition: none;
  }
}

.open .header-nav__item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); // 横線を追加
  padding-bottom: 8px; // 横線とコンテンツの間に余白を追加
  margin-bottom: 16px; // アイテム間の余白を設定

  &:last-child {
    margin-bottom: 0; // 最後のアイテムの余白を削除
  }

  @include g.mq(md) {
    margin-top: 0;
  }
}


/*ハンバーガーメニュー三本線の配置*/
.hamburger-btn {
  width: 24px;
  height: 18px;
  display: flex;
  position: relative;
  justify-content: space-between;
  margin-left: auto;
  transition: all 0.5s;
  cursor: pointer;
  z-index: 4;

  @include g.mq(md) {
    display: none;
  }
}

/* 三本線のバー(閉じているとき) */
.hamburger-btn__bar {
  position: absolute;
  width: 24px;
  height: 2px;
  background-color: g.$accentColor2;
  transition: all 0.5s;

  @include g.mq(md) {
    display: none;
  }
}

/* 1~3本目の線の設定(閉じているとき) */
.hamburger-btn__bar:nth-child(1) {
  bottom: 16px;
}

.hamburger-btn__bar:nth-child(2) {
  bottom: 8px;
}

.hamburger-btn__bar:nth-child(3) {
  bottom: 0px;
}

/* 1~3本目の線の設定(開いているとき）*/
.open .hamburger-btn__bar:nth-child(1) {
  transform: translateY(8px) rotate(-45deg);
}

.open .hamburger-btn__bar:nth-child(2) {
  opacity: 0;
}

.open .hamburger-btn__bar:nth-child(3) {
  transform: translateY(-8px) rotate(45deg);
}

/* メニューが閉じていている時の背景スタイル */
#hamburger-mask {
  display: none;
  transition: all 0.5s;
}

/*メニューが開いている時の背景スタイル*/
.open #hamburger-mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: gainsboro;
  opacity: 0.5;
  /*色の透明度*/
  cursor: pointer;

  @include g.mq(md) {
    display: none;
  }
}