@use '../global' as g;

/* お知らせアーカイブ */
.news-archive-container {
  background-color: g.$accentColor;
  padding-bottom: 24px;

  /* 中央に配置 */
  .news-wrapper {
    max-width: 800px;
    margin: 0 auto;

    /* タイトル */
    .news-wrapper-title {
      font-weight: bold;
      margin-bottom: 24px;
    }

    /* お知らせ一覧全体 */
    .news-info_wrapper {

      /* 各お知らせ行 */
      .news-row_wrapper {
        display: flex;
        flex-direction: column;
        padding: 24px 0;
        border-bottom: 1px solid #ccc;

        @include g.mq(md) {
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-start;
        }

        /* 日付とカテゴリの枠 */
        .news-date_wrapper {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          margin-bottom: 5px;
          font-size: g.rem(14);
          color: #666;

          @include g.mq(md) {
            font-size: g.rem(16);
          }

          .news-classification {
            padding: 0 12px;

            /* カテゴリ */
            .news-classification-title {
              background-color: #e3e3e3;
              color: #333;
              font-size: g.rem(14);
              padding: 2px 8px;
              border-radius: 3px;

              @include g.mq(md) {
                font-size: g.rem(16);
              }
            }
          }
        }

        /* 内容 */
        .news-content p {
          margin: 0;
          color: #333;
          line-height: 1.5;
        }
      }
    }
  }
}