@use '../global' as g;

.news-container {
  background-color: rgb(232, 232, 232);
  text-align: center;

  .news-wrapper {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: center; // ← 全体を中央に寄せる
    align-items: center; // ← 高さ揃える
    gap: 40px; // ← 要素の間にスペースを空ける
    padding: 20px;
    flex-wrap: wrap; // ← 画面が狭いときに折り返しOK                  // 余白つけると見やすい

    .news-title {
      font-size: 24px;
      font-weight: bold;
    }

    .news-item {
      font-size: 16px;
      padding: 8px 0;
      border-bottom: 1px solid #000000; // ← 下線を追加
    }

    .news-more-link {
      display: inline-block;
      outline: none;
      cursor: pointer;
      font-size: 16px;
      line-height: 1;
      border-radius: 25px;
      transition-property: background-color,border-color,color,box-shadow,filter;
      transition-duration: .3s;
      border: 1px solid transparent;
      min-width: 120px;
      text-transform: uppercase;
      white-space: normal;
      font-weight: 700;
      text-align: center;
      padding: 14px 0;
      color: #616467;
      box-shadow: inset 0 0 0 2px #616467;
      background-color: transparent;
      :hover{
          color: #fff;
          background-color: #616467;
      }
    }
  }
}