@use '../global' as g;

.news-container {
  background-color: g.$accentColor;
  text-align: center;

  .news-wrapper {
    padding: 8px 0;
    margin: 0 auto; // 中央寄せ
    max-width: 800px; // 必要に応じて幅を制限
    text-align: center; // テキストを左揃えにする場合

    @include g.mq(md) {
      display: flex;
      justify-content: center; // ← 全体を中央に寄せる
      align-items: center; // ← 高さ揃える
      gap: 40px; // ← 要素の間にスペースを空ける
      flex-wrap: wrap; // ← 画面が狭いときに折り返しOK                  // 余白つけると見やすい
    }

    .news-title {
      font-size: g.rem(24);
      font-weight: bold;
    }

    .news-item {
      font-size: g.rem(14);
      padding: 8px 0;
      border-bottom: 1px solid g.$accentColor2; // ← 下線を追加
    }

    .news-list {
      margin: 8px 0;
      text-align: center; // タイトルは中央揃え
    }
  }
}

/* 共通のボタンスタイル */
.btn-area {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: g.rem(14);
  line-height: 1;
  border-radius: 24px;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: .3s;
  border: 1px solid transparent;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 8px 0;
  color: #616467;
  box-shadow: inset 0 0 0 2px #616467;
  background-color: transparent;

  :hover {
    color: g.$subColor;
    background-color: #616467;
  }

  .btn-link {
    margin: 8px;
  }
}