@use '../global' as g;

.store-intro-container {
  display: flex;
  justify-self: center;
  align-items: center;
  padding-top: 80px;
  height: 100%;

  .store-intro-wrapper {
    text-align: center;
    width: 100%;

    @include g.mq(md) {
      display: flex;
      text-align: center;
      width: 100%;
    }
  }

  .store-intro-image {
    display: block;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .store-intro-area {
    padding: 24px;

    @include g.mq(md) {
      display: flex; // Flexboxを有効化
      flex-direction: column; // 縦方向に配置
      justify-content: center; // 垂直方向の中央揃え
      align-items: center; // 水平方向の中央揃え
      padding: 24px;
      gap: 64px;
    }

    .store-intro-title {
      font-size: g.rem(24);
      font-weight: bold;
    }

    .store-intro-text {
      margin-top: 24px;
      text-align: center;
    }
  }
}

.store-features {
  margin-top: 80px;

  @include g.mq(md) {
    display: flex;
    gap: 24px;
    margin: 80px 24px 0;
  }

  .store-feature-wrapper {
    background-color: rgba(205, 229, 237, 0.5);
    display: flow-root;
    padding-top: 24px;

    @include g.mq(md) {
      border-radius: 10px;
    }
  }

  .store-feature-title {
    font-size: g.rem(24);
    margin-top: 8px;
    font-weight: bold;
    text-align: center;
  }

  .store-feature-text {
    font-size: g.rem(14);
    margin-top: 8px;
    text-align: center;
  }

  .store-feature-image-area {
    display: flex;
    justify-content: center;
    margin: 24px;

    .store-feature-image {
      display: block;
      object-fit: cover;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      width: 50%;
      height: auto;
    }
  }
}